@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@200;400;500;600;700&display=swap');

:root {
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --verydarkblue: hsl(212, 21%, 14%);
  --darkgrayishblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--cream);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 2em;
}

.desktop-img {
  display: none;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.mobile-img {
  display: block;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product-info {
  padding: 25px;
  background-color: var(--white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 500;
}

.product {
  font-family: 'Montserrat', sans-serif;
  color: var(--darkgrayishblue);
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 3px;
  padding-bottom: 12px;
}

.product-name {
  font-family: 'Fraunces', sans-serif;
  font-size: 1.875rem;
  padding-bottom: 15px;
  line-height: 1;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-bottom: 20px;  
  color: var(--darkgrayishblue); 
}

.price {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.new-price {
  font-family: 'Fraunces', sans-serif;
  font-size: 1.875rem;
  color: var(--darkcyan);
}

.old-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: var(--darkgrayishblue);
}

button.add-to-cart {
  border: none;
  background-color: var(--darkcyan);
  color: var(--white);
  width: 100%;
  border-radius: 8px;
  padding: 15px 0;
  margin-top: 15px;
}