@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@200;400;500;600;700&display=swap');

:root {
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --verydarkblue: hsl(212, 21%, 14%);
  --darkgrayishblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--cream);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 2em;
}

.desktop-img {
  display: none;
  width: 100%;
}

.mobile-img {
  display: block;
  width: 100%;
  max-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product-info {
  padding: 25px;
  background-color: var(--white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 500;
  width: 100%;
}

.product {
  font-family: 'Montserrat', sans-serif;
  color: var(--darkgrayishblue);
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 3px;
  padding-bottom: 12px;
}

.product-name {
  font-family: 'Fraunces', sans-serif;
  font-size: 1.875rem;
  padding-bottom: 15px;
  line-height: 1;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-bottom: 20px;  
  color: var(--darkgrayishblue); 
}

.price {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.new-price {
  font-family: 'Fraunces', sans-serif;
  font-size: 1.875rem;
  color: var(--darkcyan);
}

.old-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: var(--darkgrayishblue);
}

button.add-to-cart {
  border: none;
  background-color: var(--darkcyan);
  color: var(--white);
  width: 100%;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 15px;
  transition: width 2s, height 2s, transform 2s;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  font-weight: 700  ;
}

button.add-to-cart:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: 320px) {
  .product {
    font-size: 0.625rem; 
  }

  .product-name {
    font-size: 1.438rem;
  }

  .intro {
    font-size: 0.625rem;
  }

  .new-price {
    font-size: 1.438rem;
  }

  .old-price {
    font-size: 0.625rem;
  }

  button.add-to-cart {
    font-size: 0.688rem;
  }

  .trolley-icon {
    width: 5%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    display: grid;
    place-items: center;
  }

  .container {
    flex-direction: row;
  } 

  .desktop-img {
    display: inline;
    max-width: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .mobile-img {
    display: none;  
  }

  .product-info {
    padding: 50px;  
    background-color: var(--white);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    font-weight: 500;
    max-width: 400px;
    max-height: 600px;
    position: relative;
    bottom: 2px;  
  }

  .product {
    font-size: 0.938rem;
    letter-spacing: 10px;
    padding-bottom: 30px;
  }

  .product-name {
    font-size: 2.813rem;
    padding-bottom: 30px;
  }

  .intro {
    font-size: 1.125rem;
    line-height: 1.5;
    padding-bottom: 30px;  
  }

  .price {
    gap: 1.4rem;
    padding-bottom: 20px;
  }

  .new-price {
    font-size: 2.813rem;
  }

  .old-price {
    font-size: 1.125rem;
  }

  button.add-to-cart {
    font-size: 1.125rem;
    gap: 1rem;
    padding: 20px 0;
  }

  .trolley-icon {
    width: 6%;
  }
}